.home-page {
  margin: 20px 20px 0 20px;
}

.home-title {
  padding: 10px;
  background-color: rgba(125, 174, 227, 0.663);
  border-radius: 10px;
}

.document {
  padding: 10px;
  background-color: pink;
  margin: 15px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  cursor: pointer;
  padding: 10px;
}