.header {
  background: linear-gradient(30deg, #355c7d, #6c5b7b, #c06c84);
  height: 250px;
  min-width: 10px;
  display: flex;
  justify-content: space-around;
}

.title {
  color: white;
  margin-top: 20px;
}

.edit-profile {
  padding: 5px 20px;
  outline: none;
  border: none;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  background-color: #11CDEF;
  cursor: pointer;
  height: 35px;
  margin-top: 20px;
}