.create-page {
  background-color: rgb(222, 224, 225);
  margin: 0 30px;
  border-radius: 10px;
}

.post-content{
  margin-top: 30px;
  padding: 1px 50px 50px 50px;
}

.post-name {
  width: 87%;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}

.save-btn {
  width: 10%;
  height: 28px;
  margin-left: 3%;
  outline: none;
  border: none;
  background-color: rgb(54, 255, 161);
  border-radius: 10px;
  box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.content {
  width: 100%;
  border: none;
  outline: none;
  box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  border-radius: 5px;
  resize: none;
  height: 500px;
  padding: 5px 10px;
}
