@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400;500&family=Open+Sans:wght@300;400&family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #525F7F;
  font-family: "Open Sans";
}

body {
  background-color: #f8f9fe;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
}
